.repo{
    display: inline-block;
    float: left;
    background-color:#DEDEDE;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:5px;
    padding: 5px;
}
.repo a {
    word-wrap:break-word;
}
button.refresh{
    float:right;
    margin-right:5px;
}
#jtalk  input[type="text"], 
#jtalk  input[type="textarea"],
#jtalk  select {
    display:inline;
    width:auto;
}
